.Gallery img {
    width: 100%;
    height: 100%;
}

.flui {
    min-height: 560px;
    height: 100%;
    width: 100%;
}

.pr {
    position: relative;
}

.text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: -1;
    color: white;
    text-align: center;
}

.pr:hover .text {
    z-index: 2;
}

.flexcont {
    display: flex;
    gap: 40px;
}
.formu {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.area {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;
}

.last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

label {
    font-weight: 700;
}

.foot {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nuz {
    font-size: 1rem;
}

.footmain {
    padding: 30px;
}
@media (min-width:992px) {
    .ft1 {
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    .ft2 {
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    .ft3 {
        border-bottom: 1px solid lightgray;
    }

    .ft4 {
        border-right: 1px solid lightgray;
    }
    .ft5 {
        border-right: 1px solid lightgray;
    }
}
@media (max-width:991px) {
    .ft1, .ft2, .ft3, .ft4 , .ft5, .ft6 {
        border: 0;
       }
    
    .ft1 {
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    .ft2 {
        border-bottom: 1px solid lightgray;
    }
    .ft3 {
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }

    .ft4 {
        border-bottom: 1px solid lightgray;
    }
    .ft5 {
        border-right: 1px solid lightgray;
    }

}
@media (max-width:576px) {
       .ft1, .ft2, .ft3, .ft4 , .ft5, .ft6 {
        border: 0;
       }
    .ft1 {
        border-bottom: 1px solid lightgray;
    }
    .ft2 {
        border-bottom: 1px solid lightgray;
    }
    .ft3 {
        border-bottom: 1px solid lightgray;
    }

    .ft4 {
        border-bottom: 1px solid lightgray;
    }
    .ft5 {
        border-bottom: 1px solid lightgray;
    }
    .ft6 {
        border-bottom: 1px solid lightgray;
    }
    
}

@media (max-width:576px) {
    .flexcont {
        flex-direction: column;
    }
}
@media (max-width:850px) {
    .dop {
        display: none;
    }
}

